/* ---- reset ---- */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  height: 600px;
  width : 600px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1{
  text-align: center;
}

.start-button{
  
}

.game-container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-info{
  width: 250px;
  height: 500px;
}

.game{
  width: 250px;
  height: 500px;
  border: 1px solid black
}