/* ---- reset ---- */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 15%;
}

main{
  margin: 20px 50px;
  height: 90vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}

h1{
  text-align: center;
}

.start-button{
  
}

.game-info{
  width: 45%;
  height: 80%;

}

.game-container{
  width: 45%;
  height: 80%;
  border: 1px solid black
}