/* ---- reset ---- */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/Venice\ Blue.jpg);
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Geo', sans-serif;
  color: #043349;
}

main{
  height: 600px;
  width : 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

h1{
  text-align: center;
  font-size: 80px;
  width: 100%
}

.button{
  /* width: 100%; */
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 5px;  
  font-size: 30px;
  font-family: 'Geo', sans-serif;
  color: #1E6887;
  background: #74d3d2;
  
}

.game-container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game-info{
  width: 250px;
  height: 500px;
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.next-info{
  margin-bottom: 20px;
}

.next-square{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.container-next{
  width: 100px;
  height: 100px;
  border: 10px solid #1D6786;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.size25{
  width: 25px;
  height: 25px;
  background: #cc0099;
}

.size50{
  width: 50px;
  height: 50px;
  background: #333399;
}

.size75{
  width: 75px;
  height: 75px;
  background: #00cc66;
}


.game{
  width: 250px;
  height: 500px;
  border: 10px solid #1D6786;
  border-radius: 3px;
}